<div class="container-fluid">
  <div class="mt-4 row">
    <div class="my-auto col-xs-4 col-md-2 text-end">
      <span class="text-3xl font openSans-semibold">Alva Search</span>
    </div>
    <div class="col-xs-6 col-md-6">
      <div class="search-container">
        <input id="question_input" class="search-input" [formControl]="query" type="text" (keyup.enter)="sendQuery()"
          placeholder="Ask anything..." />
        <button class="search-icon-button" (click)="sendQuery()" title="Search" aria-label="Search"
          [disabled]="!isConnected || isGenerating">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <!-- <p>{{messages | json}}</p> -->
  <div class="row justify-content-end">
    <div class="col-8" *ngIf="!isConnected">
      <p class="status-text connecting">Connecting...</p>
    </div>
    <div class="col-xs-5 col-sm-5" *ngIf="messages.length > 0">
      @for(msg of messages; track msg.timestamp) {
        @if (msg.sender === 'user') {
          <div class="user-query">
            <span class="text-2xl"><i class="bi bi-robot"></i> {{ msg.content }}</span>
          </div>
        }

        <!-- AI response -->
        @if (msg.sender === 'ai bot') {
          <div class="px-0 container-fluid">
            <div class="row">
              <div class="col">
                <!-- <p *ngIf="isGenerating && msg.content.length > 0" class="status-text generating streaming">Streaming response...</p> -->
                <div class="response-content" [innerHTML]="formatAndSanitize(msg.content | linkIcon)"></div>
                <!-- <p *ngIf="!isGenerating && msg.content.length > 0" class="status-text complete">Response complete.</p> -->
              </div>
            </div>
          </div>
        }
      }
    </div>
    <div class="mt-5 col-xs-3 col-sm-3 d-none d-sm-block" *ngIf="messages.length > 0">
      @for(msg of messages; track msg.timestamp) {
        @if (msg.sender === 'ai bot') {
          <div class="mb-1 card dark:bg-[#18202D_!important]">
            @for (item of getTitles(msg.content); track $index; let first = $first) {
              <div class="card-header font openSans-semibold" [ngClass]="{'border-top': !first}" *ngIf="item.urls && item.urls.length >= 1">
                {{item.title}}
              </div>
              <div class="card-body font openSans-italic">
                <span *ngIf="item.urls && item.urls.length === 1">{{item.urls[0] | extractDomain}} <span [innerHTML]="formatAndSanitize(item.urls[0] | linkIcon)"></span></span>
                <span *ngIf="item.urls && item.urls.length === 0">{{item.title}}</span>
                <dl *ngIf="item.urls && item.urls.length > 1" class="mb-0 text-center">
                  <ul class="mb-0 list-inline">
                    <li class="list-inline-item" *ngFor="let link of item.urls"> <span>{{link | extractDomain}}</span> <div [innerHTML]="formatAndSanitize(link | linkIcon)"></div></li>
                  </ul>
                </dl>
              </div>
            }
          </div>
        }
      }
    </div>
    <div class="col-2"></div>
  </div>
</div>
