<div class="container-fluid">
  <div class="mt-4 row">
    <div class="my-auto mb-3 text-center col-xs-4 col-md-2 text-lg-end text-xl-end">
      <span class="text-3xl font openSans-semibold">Alva Search</span>
    </div>
    <div class="col-xs-6 col-md-6">
      <div class="search-container">
        <input id="question_input" class="search-input" [formControl]="query" type="text" (keyup.enter)="sendQuery()"
          placeholder="Ask anything..." />
        <button class="search-icon-button" (click)="sendQuery()" title="Search" aria-label="Search"
          [disabled]="!isConnected || isGenerating">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <!-- <p>{{messages | json}}</p> -->
  <div class="row justify-content-end">
    <div class="col-8" *ngIf="!isConnected">
      <p class="status-text connecting">Connecting...</p>
    </div>
    <div class="col-xs-5 col-sm-5" *ngIf="messages.length > 0">
      @for(msg of messages; track msg.timestamp) {
        @if (msg.sender === 'user') {
          <div class="user-query">
            <span class="text-2xl"><i class="bi bi-robot"></i> {{ msg.content }}</span>
          </div>
        }

        <!-- AI response -->
        @if (msg.sender === 'ai bot') {
          <div class="px-0 container-fluid">
            <div class="row">
              <div class="mb-3 col-12" *ngFor="let content of parseNewsContent(msg.content)">
                <span>
                  <p class="mb-2 fs-4">{{content.title}}</p>
                  <p class="fs-6">{{content.content}}
                    <span class="fs-6" *ngIf="content.urls.length">
                      <span *ngFor="let url of content.urls" [innerHTML]="formatAndSanitize( url | linkIcon)"></span>
                    </span>
                  </p>
                </span>
                <!-- <p *ngIf="isGenerating && msg.content.length > 0" class="status-text generating streaming">Streaming response...</p> -->
                <!-- <div class="response-content" [innerHTML]="formatAndSanitize(msg.content | linkIcon)"></div> -->
                <!-- <p *ngIf="!isGenerating && msg.content.length > 0" class="status-text complete">Response complete.</p> -->
              </div>
            </div>
          </div>
        }
      }
    </div>
    <div class="mt-5 col-xs-3 col-sm-3 d-none d-sm-block" *ngIf="messages.length > 0">
      @for(msg of messages; track msg.timestamp) {
        @if (msg.sender === 'ai bot') {
          <div class="mb-1 card dark:bg-[#18202D_!important]">
            <!-- @for (item of getTitles(msg.content); track $index; let first = $first) {
              <div class="card-body font openSans-semibold" [ngClass]="{'border-top': !first}" *ngIf="item.urls && item.urls.length >= 1">
                {{item.title}}
              </div>
              <div class="card-body font openSans-italic">
                <figcaption class="blockquote-footer" *ngIf="item.urls && item.urls.length === 1">
                  <a target="_blank" [href]="item.urls[0]">{{item.urls[0] | extractDomain}}</a>
                </figcaption>
                <dl *ngIf="item.urls && item.urls.length > 1" class="mb-0 text-center">
                  <ul class="mb-0 list-inline">
                    <li class="list-inline-item" *ngFor="let link of item.urls"> <a [href]="link" target="_blank">{{link | extractDomain}}</a></li>
                  </ul>
                </dl>
              </div>
            } -->
            <span *ngFor="let x of parseNewsContent(msg.content); let first = first">
              <!-- @for (x of parseNewsContent(msg.content); track $index; let first = $first) { -->
              <div class="card-body font openSans-semibold" [ngClass]="{'border-top': !first}">
                {{x.title}}
                <p class="font openSans-light clamp-2">{{x.content}}</p>
              </div>
              <div class="card-body font openSans-italic" *ngIf="x.urls && x.urls.length">
                <figcaption class="blockquote-footer text-end" *ngIf="x.urls.length === 1">
                  <a target="_blank" [href]="x.urls[0]">{{x.urls[0] | extractDomain}}</a>
                </figcaption>
                <dl *ngIf="x.urls.length > 1" class="mb-0 text-center">
                  <ul class="mb-0 list-inline">
                    <li class="list-inline-item" *ngFor="let link of x.urls"> <a [href]="link" target="_blank">{{link | extractDomain}}</a></li>
                  </ul>
                </dl>
              </div>
              <!-- } -->
            </span>
          </div>
        }
      }
    </div>
    <div class="col-2"></div>
  </div>
</div>
